{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>QuickReview</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
  </head>
  <body>
    <form id="login">
      <fieldset>
        <div>
            <label for="username">Username: </label>
            <input type="text" name="username"/>
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" name="password"/>
        </div>
        <a href="">Forgot password?</a>
        <input type="submit" value="Login" />
      </fieldset>
    </form>
  </body>
</html>
